* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  background: rgb(18, 18, 18);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border-radius: 24px;
  background: linear-gradient(
    -31.69deg,
    rgb(231, 228, 224) 57.84%,
    rgb(252, 251, 247) 144.095%
  );
  width: 2600px;
  height: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 15px 15px 15px 15px;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 3%;
  width: 100%;
}

.calculator {
  background: rgb(18, 18, 18);

  width: 428px;
  height: 926px;
  padding-bottom: 74px;

  gap: 0px;
  border-radius: 30px;
  opacity: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator__standing-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  width: 300px;
  height: 50px;
}

.calculator__standing-line-time {
  color: rgb(255, 255, 255);
  font-family: Poppins;
  font-size: 12px;
  text-align: left;
  padding: 20px;
}

.calculator__standing-line-status {
  color: rgb(255, 255, 255);
  width: 60px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.calculator__input {
  height: 570px;
  width: 100%;
  padding-right: 20px;
  color: rgb(255, 255, 255);
  font-size: 90px;
  text-align: right;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-end;
}

.calculator__container-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;

  width: 394px;
  height: 496px;
  margin-top: auto;
}

.calculator-button {
  height: 88px;
  width: 88px;

  border-radius: 100%;
  color: #ffffff;
  font-size: 34px;
  border: 0px;
}

.button-zero {
  width: 190px;
  border-radius: 60px;
}

.color-grey {
  background-color: #a5a5a5;
}

.color-yellow {
  background-color: #f1a33b;
}

.color-dark {
  background-color: #333333;
}
